*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
    background-color: #f9e8c7;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Alata", sans-serif
}
.disablescrolling{
    width: 100%;
    overflow: 0;
}

/*------custom scrollbar------*/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    color: #f9e8c7;
}
::-webkit-scrollbar-thumb{
    background: transparent;
    opacity: 1
}

.navbar {
    width: 150px;
    margin: 20px;
    padding: 100px 10px;
    display: flex;
    flex-direction: column;

}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: right;
    padding: 300px 0px 200px;
    float: right;
    position: relative;
}

.navbar a{
    font-size: 12pt;
    color:#356f54;
    text-decoration: none;
    text-wrap: wrap;
    margin: 10px;
    text-align: left;
    justify-content: center;
    position: relative;
    padding: 0px 10px;
}

.navbar a:after{
    content: "";
    position: absolute;
    background-color: #63bb92;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar a:hover{
    color:#63bb92;
    transition: all 0.3s ease;
}
.navbar a:hover::after{
    width: 90%;
}
.logo{
    padding: 310px 0px 0px;
    padding-left: 40px;
    width: 85%;
    float: center;
    position: fixed;
}

/*------OUR TEAM PAGE------*/

.logotop{
    padding: 20px 40px;
    width:40%;
    justify-content: center;
    float: left;
    position: relative;
}

.back{
    margin-top: 25px;
    margin-right: 40px;
    padding: 10px 10px;
    float: right;
    justify-content: center;
    align-content:center;
    position: relative;
    border-style: solid;
    border-color: #356f54;
    border-radius: 50px;
    border-width: 4px;
    box-sizing: border-box;
}

.back a{
    font-size: 18pt;
    color: #356f54;
    text-decoration: none;
    padding: 4px 5px;
    margin: 0px 12px;
}

.back a:hover{
    color:#63bb92;
    transition: all 0.3s ease;
}

.team {
    display:inline-flex;
    flex-direction: row;
    padding: 0px 400px;
    font-size: 45pt;
    text-align: center;
}

.teamcontainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
}

.card{
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 20px;
}

.card:hover{
    transform: scale(1.05);
    transition: all 1.0s ease;
}

.card-image{
    height: 200px;
    background-size:cover;
    height:80%;
    margin-bottom: 5px;
}
.car-1{
    background-image:url(../images/TEAM/MITCH.jpg);
}

.car-2{
    background-image:url(../images/TEAM/JAS.jpg);
    display: block;
}

.car-3{
    background-image:url(../images/TEAM/CALVIN.jpg)
}

.car-4{
    background-image:url(../images/TEAM/SANTIAGO.jpg)
}

.car-5{
    background-image:url(../images/TEAM/GWEN.jpg)
}

.car-6{
    background-image:url(../images/TEAM/MATTEO.jpg)
}

.car-7{
    background-image:url(../images/TEAM/ANTHONY.jpg)
}

.car-8{
    background-image:url(../images/TEAM/KATHERINE.jpg)
}

.car-9{
    background-image: url(../images/TEAM/JULIA.jpg);
}

/*------ABOUT------*/

.story{
    display: inline-flex;
    flex-wrap:wrap;
    flex-direction: row;
    padding: 0px 20px;
    font-size: 70pt;
    text-align: left;
}

.storytext{
    padding: 0px 30px;
    padding-bottom: 30px;
    font-size: 18pt;
    text-align: justify;

}

/*------BOOKING------*/

.tutorial{
    display: inline-flex;
    flex-wrap:wrap;
    flex-direction: row;
    padding: 0px 25px;
    font-size: 70pt;
    text-align: left;
}

.tutorialtext{
    padding: 0px 30px;
    padding-bottom: 30px;
    font-size: 18pt;
    text-align: justify;
}

/*-----FORM------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formcontainer{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 700px;
    padding: 19px;
    margin: 0px 360px;
    border-radius: 10px;
    justify-content: center;
    text-align: left;
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box label{
    width: 95%;
    font-size: 14pt;
    margin: 5px 0px;
}

.user-input-box input{
    background-color: #fff;
    height: 40px;
    width: 95%;
    border-radius: 8px;
    outline: none;
    border: 1px solid gray;
    padding: 12px 6px;
    margin: 8px 0px;
    box-sizing: border-box;
    font-size: medium;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 22pt;
    justify-content: left;
    padding: 10px 0px;
    text-decoration: underline;
}
.subdetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 11pt;
    justify-content: left;
    text-align: left;
    padding: 0px 1px 0px;
    line-height: 20pt;
}

.wrapper textarea{
    background-color: #fff;
    border: 1px solid gray; 
    margin-top: 20px;
    margin-bottom: 20px;
    width: 690px;
    height: 60px;
    padding: 15px;
    border-radius: 8px;
    resize: none;
    font-size: 12pt;
}

textarea :is(:focus, :valid){
    border-width: 2px;
    padding: 14px;
    border-color: gray;
}

textarea::-webkit-scrollbar{
    width: 0;
}

.date{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 22pt;
    justify-content: left;
    padding: 5px 0px;
    text-decoration: underline;
}

.subdate{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 11pt;
    justify-content: left;
    text-align: left;
    padding: 5px 2px 0px;
    line-height: 20pt;
}

.date-input .user-input-box{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 90%;
    border-radius: 8px;
    outline: none;
    padding: 12px 6px;
    margin: 10px 135px;
    box-sizing: border-box;
    font-size: medium;
    text-align: center;
    justify-content: center;
}

.button{
    display: flex;
    flex-direction: row ;
    height: 60px;
    width: 90%;
    border-radius: 50px;
    outline: none;
    padding: 10px 6px;
    margin: 12px 100px;
    box-sizing: border-box;
    font-size: 20pt;
    text-align: center;
    justify-content: center;
}

.confirmation{
    display: inline-flex;
    flex-wrap:wrap;
    flex-direction: row;
    padding: 80px 320px;
    font-size: 70pt;
    text-align: left;
}

.confirmtext{
    padding: 0px 200px;
    padding-bottom: 10px;
    font-size: 20pt;
    text-align: center;
}
